<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes"/>
        <link rel="shortcut icon" type="image/x-icon" href="resources/images/favicon.ico"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-16.png" sizes="16x16"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-24.png" sizes="24x24"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-32.png" sizes="32x32"/>
        <link rel="shortcut icon" type="image/png" href="resources/images/favicon-64.png" sizes="64x64"/>

        <title>Rechtsquellen des Kantons Zürich - Literaturverzeichnis</title>
        <meta name="description" content="Literaturverzeichnis template"/>
        <meta name="pb-template" content="literaturverzeichnis.html"/>

        <link rel="stylesheet" type="text/css" href="resources/fonts/font.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald&amp;display=swap"/>
        <link rel="stylesheet" href="resources/css/theme.css"/>
        <link rel="stylesheet" href="resources/css/theme-ssrq.css"/>
        <script type="module" src="pb-components-bundle.js" data-template="pages:load-components"/>
        <script src="resources/scripts/app/app.js"></script>
    </head>

    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved" locales="resources/i18n/{{ns}}/{{lng}}.json"
                 locale-fallback-ns="app"
                 require-language="require-language" api-version="1.0.0">
            <pb-document id="document1" data-template="pages:pb-document"/>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer slot="drawer" align="right">
                    <div class="drawer-content">
                        <pb-media-query query="(max-width: 1023px)">
                            <!-- language selector -->
                            <ul class="drawer-menu">
                                <li>
                                    <a href="${app}/index.html" data-template="pages:parse-params">Start</a>
                                </li>
                                <li>
                                    <a href="abbr.html" class="tp-menu-item" title="abbr">
                                        <div>
                                            <pb-i18n key="abbreviations">Abkürzungen</pb-i18n>
                                        </div>
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li>
                                    <a href="mailto:christian.sieber@ji.zh.ch" class="tp-menu-item">
                                        <div>
                                            <pb-i18n key="feedback">Feedback</pb-i18n>
                                        </div>
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li>
                                    <pb-lang name="lang" data-template="pages:languages"/>
                                </li>
                            </ul>
                        </pb-media-query>
                    </div>
                </app-drawer>
                <h1>Literaturverzeichnis</h1>

            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>
