:root {
    --footer-height: 45px;
    --footer-padding-top: 15px;
    --footer-height-total: calc(var(--footer-height) + 1px + var(--footer-padding-top)); /* if border, then + 1px! */
    --toolbar-height: 105px;
    --pb-box-shadow: 0px 0px 4px 0px #cdccce;
}

.logo {
    background-image: url("../images/logo.svg");
}

.menubar .logo {
    margin: 0 3px;
}

/* custom splash screen */
.splash {
    background-image: url("../images/logo-inverted.svg");
    background-size: 40%;
}

@media screen and (min-width: 769px) {
    .splash {
        background-size: 20rem auto;
    }
}

html {
    font-size: 100%;
}

body {
    --pb-brand-color: #0076bd;
    --pb-menubar-background-color: var(--pb-brand-color);
    --pb-base-font-family: 'Open Sans', 'Verdana', 'Helvetica', sans-serif;
    --pb-content-font-family: "Lexia Fontes", Georgia, "Times New Roman", serif;
    --pb-content-font-size: 14pt;
    --pb-popover-font-size: 80%;
    --pb-color-primary: #333333;
    --pb-view-max-width: 1024px;
    --rqzh-link-color: var(--pb-brand-color);
    --pb-logo-image-width: 70px;
    --pb-logo-image-height: 48px;
    color: var(--pb-color-primary);
}

/**************** Typography *****************/

h1, h2, h3, h4, h5, h6 {
    font-family: var(--pb-heading-font-family);
    font-weight: 400 !important;
    line-height: 1.2;
    color: var(--pb-color-primary);
}

h1 {
    font-size: 1.75rem;
    margin: 2rem 0;
}

h2 {
    font-size: 1.55rem;
}

h3 {
    font-size: 1.35rem;
}

h4 {
    font-size: 1.15rem;
}

h5 {
    font-size: 1rem;
    margin: 0.625rem 0;
}

@media screen and (min-width: 769px) {
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
    }

    h1 {
        font-size: 2.25rem;
        font-weight: 400;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.3rem;
    }

    h5 {
        font-size: 1.15rem;
        margin: 0.625rem 0;
    }
}

a {
    background-color: transparent;
    color: var(--rqzh-link-color);
    text-decoration: none;
}

a > * {
    color: var(--rqzh-link-color);
}

a:hover,
a:active,
a:focus,
a:hover > *,
a:active > *,
a:focus > * {
    color: #00558a; /* hsl(203, 100%, 27%) a tad darker than the brand color */
    text-decoration: underline;
}

/* page title */

.tp-title span {
    color: #9e9e9e;
    font-size: 26px;
    margin-top: 12px;
}

.tp-title span {
    color: #9e9e9e;
    font-size: 26px;
    margin-top: 12px;
}

.content-body pb-navigation {
    position: fixed;
    bottom: 45%;
    --paper-fab-background: #35424b;
    color: white;
}

.content-body pb-navigation[direction=backward] {
    left: 20px;
}

.content-body pb-navigation[direction=forward] {
    right: 20px;
}

.content pb-collapse {
    color: var(--pb-color-primary);
}

ul.control-list {
    list-style-type: none;
    padding: 0;
}

.drawer-menu {
    list-style-type: none;
    padding: 0;
}

.drawer-menu li {
    padding: .8rem 0;
}
@media screen and (min-width: 769px) {
    .drawer-menu li {
        padding: 1rem 0;
    }
}

.drawer-menu li a {
    margin-top: 1rem;
    display: inline-block;
}

.drawer-menu li pb-lang, .drawer-menu li paper-listbox {
    margin-top: -1rem;
}

.drawer-menu li h4 {
    margin-top: 1rem;
}

.drawer-menu paper-item {
    height: 1rem 1rem 3rem 1rem;
}


.block-title {
    color: #607D8B;
    font-size: 18px;
    margin: 1em 0;
}

li.col-3 {
    display: grid;
    grid-template-columns: auto 40px 10px 40px;
    align-items: flex-start;
    grid-column-gap: 0.25rem;
    align-items: self-end;
}

.logo img {
    width: 360px;
}

main pb-view {
    margin: 0;
    position: relative;
}

/************ global page grid ****************/

.main-grid {
    display: block;
}

.main-grid__item:not(last-child) {
    margin-bottom: 2rem;
}

.main-grid__item .card-padding {
    padding: 0;
}

@media screen and (min-width: 769px) {
    .main-grid__item .card-padding {
        padding: 16px;
    }
}

@media screen and (min-width: 769px) {
    .main-grid {
        display: grid;
        grid-template-columns: minmax(300px, 2fr) 5fr;
        grid-gap: 30px;
    }

    .main-grid__item {
        box-shadow: var(--pb-box-shadow);
        height: max-content;
    }

    .main-grid__item:nth-child(1) {
        grid-column: 1;
        grid-row: 1 / 3;
    }

    .main-grid__item:nth-child(2) {
        grid-column: 2;
        grid-row: 1;
    }

    .main-grid__item:nth-child(3) {
        grid-column: 1;
        grid-row: 3;
    }

}

@media screen and (max-width: 769px) {
    .content-body pb-navigation {
        display: none;
    }
}

/* custom behavior for upload panel, add box-shadow also for small screens */
.main-grid__item.upload-panel {
    box-shadow: var(--pb-box-shadow);
}

/******** custom search tile with filters **********/
/* button wrapper */
#search-form .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}

/* buttons */
#search-form .buttons paper-button {
    background-color: transparent;
    border: 1px solid gray;
    color: inherit;
    margin: 0;
    font-weight: 400;
}

#search-form .buttons paper-button:last-child {
    background-color: var(--pb-menubar-background-color);
    color: #fff;
    border: 1px solid var(--pb-menubar-background-color);
}

/* search tile -> help text */
#query-help-dialog {
    top: 42px; /* offset for top navigation */
    line-height: 26px;
}

#query-help-dialog a {
    color: var(--rqzh-link-color);
}

/*********** INDEX.html - document lists *****************/

.doclist > h2 {
    margin: 16px 0;
}

.doclist ul.documents {
    padding: 0;
}

#document-list {
    padding-top: 20px;
}

#document-list h3,
#document-list p {
    margin: 0;
}

#document-list h3 {
    margin-bottom: 1rem;
}

/* Links to documents in document lists */
.collection a:hover,
.collection a:active,
.collection a:focus,
.collection a:hover > *,
.collection a:active > *,
.collection a:focus > * {
    text-decoration: none;
}

/* document list on start page */

.collection .volume {
    margin-bottom: 2rem;
}

/* document list on document landing page */

.parent-link iron-icon {
    padding-right: 4px;
    bottom: 3px;
}

.parent-link {
    display: block;
    margin: 16px 0 0 0;
    padding: 16px 0;
    border-bottom: thin solid var(--paper-grey-300);
}

/* list of sub-collection in index.html */
#document-list ul {
    list-style-type: none;
    padding-left: 0;
}

#document-list .document-info {
    font-family: var(--pb-heading-font-family);
    font-weight: 400;
}

#document-list .documents .header-short {
    font-size: .85rem;
    line-height: 1.2;
}

#document-list .documents .header-short > h4 {
    font-size: 1.125rem;
    line-height: inherit;
    font-family: inherit;
    font-weight: inherit;
    margin-top: 10px;
    margin-bottom: 10px;
}

#document-list .documents .title {
    font-weight: 400;
    font-size: 1.125rem;
    font-family: var(--pb-heading-font-family);
    line-height: 1.2;
    margin-top: 10px;
    margin-block-end: 0.5em;
    display: block;
}

#document-list .documents .title > * {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
}

.documents li {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 6px 0;
    border-bottom: thin solid var(--paper-grey-300);
}

@media screen and (min-width: 769px) {
    .documents li:last-child {
        border: none;
    }
}

pb-lang {
    color: #777777;
    width: 100px;
    margin-right: 1rem;
}

pb-login {
    color: inherit;
    font-weight: 300;
}

pb-login::part(group-invalid) {
    display: none;
}

pb-view {
    font-weight: 300;
    color: var(--pb-color-primary);
    font-family: var(--pb-base-font-family);
}

/*************** VIEW.html *****************/

/* custom view.html layout for facsimile on the right and document on the left */

.grid {
    padding: 0 1rem;
    grid-template-columns: 3fr minmax(0, 3fr);
    /*grid-column-gap: 3rem;*/
}

.grid main,
.grid .facsimile,
.grid .register {
    height: calc(100vh - (var(--toolbar-height) + var(--footer-height-total)));
    --pb-facsimile-height: calc(100vh - (var(--toolbar-height) + var(--footer-height-total)));
}

.facsimile {
    display: none;
}

.facsimile[loaded] {
    display: block;
    height: 100%;
}

.facsimile [slot='before'] {
    font-size: 80%;
}


.facsimile, .facsimile[loaded], .register {
    display: none;
}
[main-title] {
    display: inline-block;
    flex: 1 0;
}

@media screen and (min-width: 1024px) {
    .grid {
        display: grid;
    }

    body[data-view="normalized"] .grid {
        grid-template-columns: auto 320px;
    }
    body[data-view="normalized"] .facsimile {
        display: none;
    }
    body[data-view="diplomatic"] .grid {
        grid-template-columns: 60% 40%;
    }
    body[data-view="diplomatic"] .facsimile[loaded]~.register {
        display: none;
    }
    .facsimile, .facsimile[loaded], .register {
        display: block;
    }

    .grid main,
    .grid aside {
        overflow: auto;
    }
}

@media screen and (min-width: 769px) {
    .toolbar pb-navigation {
        display: none;
    }
}

.place {
    color: #055005;
}

.person, .organization {
    color: #395576;
}

.register {
    /* max-width: 20vw; */
    width: 320px;
    --paper-checkbox-size: 14px;
    padding-left: 1em;
}

.register ul {
    list-style: none;
    padding: 0;
    font-family: var(--pb-content-font-family);
}

.register li {
    display: flex;
    align-items: baseline;
}

.register li input {
    display: block;
    margin-right: 10px;
}

.narrow-item {
    padding: 0;
    line-height: 1.5rem;
    display: block;
    --paper-item-min-height: 1.5rem;
}

paper-input {
    /* hide underline in all states */
    --paper-input-container-underline: {
        display: none;
    }
    ;
    --paper-input-container-underline-focus: {
        display: none
    }
    ;
    --paper-input-container-underline-disabled: {
        display: none
    }
    ;
}

paper-input label {
    height: 0;
    display: none;
}

.term {
    color: #740502;
}

.toolbar {
    height: 40px;
}

.hidden {
    display: none;
}

.volume paper-listbox {
    height: 10rem;
    overflow: auto;
}

/**************** SEARCH.html *******************/

.searchbox {
    --paper-item-min-height: 24px;
}

#search-info {
    color: inherit;
    text-decoration: none;
}

.card-padding [name="filter-language"] {
    margin-top: 0;
}

.card-padding [for="filter-language"] {
    display: block;
    margin-top: .5rem;
}

.card-padding [name="filter-kanton"] {
    margin-top: 1rem;
}

.card-padding .filter-grid .right {
    display: grid;
    grid-template-columns: 45% auto 45%;
}

.card-padding .filter-grid .until {
    align-self: flex-end;
    margin-bottom: 0.5rem;
    display: inline-block;
    text-align: center;
}

.card-padding .filter-grid .flexend {
    align-self: flex-end;
}

.card-padding select {
    border: none;
    font-size: 1rem;
}

/* pagination, result display, progressbar, and sorting */

.bottom-item {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
pb-select#sort-select {
    display: block;
    margin-top: .5rem;
    text-align: end;
}

.search__toolbar {
    margin: 1.5rem 0;
    display: block;
}


@media screen and (min-width: 769px) {
    .search__toolbar {
        margin: 1.7rem 0 0;
    }

}

@media screen and (min-width: 1024px) {
    .search__toolbar {
        display: flex;
        justify-content: space-between;
    }

    pb-select#sort-select {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

}

/* search and documents tile on start- and search-page */

.card-padding h2 {
    background: #fff;
    color: inherit;
    margin: 0;
}

.card-padding h4 {
    margin-bottom: 1rem;
}

.card-padding paper-dropdown-menu {
    width: 100%;
}

.card-padding .formrow {
    margin-top: 1rem;
}

.card-padding .formrow label {
    padding: 1.5rem 0 1rem 0;
}

.card-padding option {
    font-size: 0.875rem;
}

.card-padding .subtype {
    padding-left: 2rem;
}

.card-padding aside {
    margin-bottom: 1rem;
    min-width: 200px;
}

.panel-body ul {
    list-style-type: none;
}

.panel-body>ul {
    padding: 0;
}

.upload .card-content {
    padding: 0;
}

.filter-canton {
    height: 200px;
}

pb-browse-docs::part(delete-button) {
    display: none;
}

/* ABBR.html*/

.abbr-list {
    margin-bottom: 2rem
}

.abbr-list li {
    list-style-type: none;
    font-family: var(--pb-content-font-family);
}

@media screen and (min-width: 769px) {
    .abbr-list li {
        padding-left: 1rem;
    }
}

/**************** footers ******************/

footer:not(footer.footer__imprint) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: var(--footer-height);
    padding: 15px 0 0 0;
    border-top: 1px solid #ebebeb;
    -webkit-box-shadow: -3px 0px 14px -8px #ccc;
    -moz-box-shadow: -3px 0px 14px -8px #ccc;
    box-shadow: -3px 0px 14px -8px #ccc;
}

footer p, address {
    font-size: 0.75rem;
    font-style: normal;
}

.footer__imprint {
    padding: 20px;
}

.footer__imprint .footer-col {
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 520px) {
    .footer__imprint {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        padding: 20px;
    }
}

@media screen and (min-width: 961px) {
    .footer__imprint {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .footer__imprint {
        grid-template-columns: repeat(4, 1fr);
    }
}

footer-button {
    font: var(--pb-base-font);
    color: var(--pb-toolbar-color);
    background-color: var(--pb-toolbar-background-color);
    font-family: var(--pb-base-font-family);
}

.footer-button-next {
    grid-column: 4;
    text-align: end;
}


/* ==========================================================================
   Print styles.
   ========================================================================== */

/* The print preview */
.printPreview {
    padding: 4rem 2rem;
}
.printPreview paper-button {
    font-size: 1em;
    margin-bottom: 1rem;
    padding: 4px 10px 4px 4px;
    background-color: transparent;
    border: 1px solid #e9e7e7;
}
.printPreview paper-button:nth-of-type(2) {
    margin-left: 2rem;
    background-color: #eee;
    border: #e1e1e1;
}

@media print {
    *,
    *::before,
    *::after { background: transparent !important; color: black !important; text-shadow: none !important; box-shadow: none !important; filter:none !important; -ms-filter: none !important; }
    a, a:visited { text-decoration: underline; }
    a[href]:after { content: " (" attr(href) ")"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    @page { margin: 1.5cm 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3 { page-break-after: avoid; }

    nav,
    footer,
    object,
    aside,
    select,
    .menubar,
    .splash,
    .toolbar {
        display: none;
    }
    body {font-size: 11pt;}
    h1 { font-size: 16pt;}
    h2 {font-size: 15pt;}
    h3 {font-size: 14pt;}
    h4 {font-size: 13pt;}
    .tei-summary, .footnotes {font-size: 11pt;}
    a {
        word-wrap: break-word;
    }
    .hidden-print {
        display: none !important;
    }
    #info iron-icon {
        display: none !important;
    }
}
