<?xml version="1.0" encoding="UTF-8"?>
<html>
<head>
    <meta charset="utf-8"/>
    <title data-template="config:app-title"/>
    <meta content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes" name="viewport"/>
    <link href="resources/images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="resources/images/favicon-16.png" rel="shortcut icon" sizes="16x16" type="image/png"/>
    <link href="resources/images/favicon-24.png" rel="shortcut icon" sizes="24x24" type="image/png"/>
    <link href="resources/images/favicon-32.png" rel="shortcut icon" sizes="32x32" type="image/png"/>
    <link href="resources/images/favicon-64.png" rel="shortcut icon" sizes="64x64" type="image/png"/>
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"/>
    <link href="resources/css/theme.css" rel="stylesheet"/>
    <link href="resources/css/theme-ssrq.css" rel="stylesheet"/>
    <script data-template="pages:load-components" src="pb-components-bundle.js" type="module"/>
</head>


<body>
<pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" unresolved="unresolved" require-language="require-language" api-version="1.0.0">
    <app-drawer-layout force-narrow="force-narrow">
        <app-drawer data-template="templates:include" data-template-path="templates/drawer.html"/>

        <app-header-layout>
            <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                <app-toolbar data-template="templates:include" data-template-path="templates/menu.html"/>
            </app-header>

            <section>
                <div class="pb-container">
                    <h1 class="tp-title"><pb-i18n key="abbreviations"></pb-i18n></h1>
                </div>
            </section>

            <section>
                <div class="pb-container">
                    <main class="abbr-list" id="abbreviations">
                        <pb-load url="api/abbreviations" use-language="use-language" auto="auto"></pb-load>
                    </main>
                </div>
            </section>

        </app-header-layout>
    </app-drawer-layout>
</pb-page>
<div class="splash"/>
</body>
</html>
